
@model LoginModel
@{ Layout = null; }

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giriş Yap - Haber Portalı</title>

    <!-- Font Icon -->
    <link href="~/assets/fonts/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Main css -->
    <link href="~/assets/css/form-style.css" rel="stylesheet" />
    <style>
        h2 {
            font-family: 'Material-Design-Iconic-Font';
        }

        input {
            font-family: 'Material-Design-Iconic-Font';
        }
    </style>
</head>
<body>

    <div class="main">


        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/assets/images/signin-image.jpg" alt="Giriş yap"></figure>


                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Giriş yap</h2>
                        <h5>Kullanıcı adı:admin<br>Şifre:Secret123$</h5>
                        <form asp-action="Login" asp-controller="Account" method="post" id="login-form">
                            <div class="form-group">
                                <label asp-for="Username"><i class="zmdi zmdi-email"></i></label>
                                <div asp-validation-for="Name" class="text-danger"></div>
                                <input asp-for="Username" class="form-control" placeholder="Kullanıcı Adınız" required="required" />

                            </div>
                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <div asp-validation-for="Password" class="text-danger"></div>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Şifre" required="required" />

                            </div>
                            <div class="text-danger" asp-validation-summary="All"></div>

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Giriş Yap" />
                            </div>
                        </form>
                        <div class="social-login">
                            <a href="/Home/Index" class="signup-image-link">Portala geri dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>